header{
  position:fixed;
  top:5rem;
  left:5rem;
  z-index: 100;

  display:flex;
  gap:5.9rem;
}

a{
  text-decoration:none;
  color:#C4C4CC;
}
header ul li a:hover{
  cursor:pointer;
  color:#ffffff;
}

header ul{
  font-size:2.2rem;

  display:flex;
  align-items:flex-end;
  gap:6.9rem;

  list-style:none;
  white-space:nowrap;
}
header ul li{
  display:flex;

  transition: margin 0.4s;
}
header ul li:nth-child(1){
  width:50px;
} 
header ul li:nth-child(2){
 width:90px;
} 
header ul li:nth-child(3){
  width:115px;
} 
header ul li:hover{
  font-weight:700;
  font-size:2.8rem;
  transform: translateX(-5px) translateY(-10px);
  cursor:pointer;

  transition: margin 1s, transform 0.7s;
}

.menu-mobile{
  display:none;
}
.menu-mobile button{
  background:transparent;
}

@media(max-width:600px){
  header{
    position:fixed;
    top:2rem;
    left:1rem;

  }
  header ul{
    position:fixed;
    right:1.6rem;
    top:5.5rem;

    display:none;
    flex-direction:column;

    gap:0;
  
    font-size:2.2rem;
    list-style:none;
    white-space:nowrap;

    animation: slide-in 1s;
  }
  header ul li{
    justify-content:flex-end;
  }
  header ul li:nth-child(1),
  header ul li:nth-child(2),
  header ul li:nth-child(3)
  {
    width:120px;
    height:30px;
  } 
  header ul li:hover{
    transform: translateX(0) translateY(0);
    font-size:2.3rem;

    transition: margin 1s;
  }
  .menu-mobile{
    position:fixed;
    top:2.5rem;
    right:1rem;

    display:block;

    animation: fade-in 1s;
  }

  .open-menu{
    animation: slide-in 1s;
  }
  .close-menu {
    animation: slide-in 1s;
  }
}

