header{
  position:fixed;
  top:5rem;
  left:5rem;
  z-index: 100;

  display:flex;
  gap:5.9rem;
}

a{
  text-decoration:none;
  color:#C4C4CC;
}
header ul li a:hover{
  cursor:pointer;
  color:#ffffff;
}

header ul{
  font-size:2.2rem;

  display:flex;
  align-items:flex-end;
  gap:6.9rem;

  list-style:none;
  white-space:nowrap;
}
header ul li{
  display:flex;
  align-items:flex-end;

  cursor:pointer;

  transition: margin 0.4s;
}
header ul li:nth-child(1){
  width:50px;
} 
header ul li:nth-child(2){
 width:90px;
} 
header ul li:nth-child(3){
  width:115px;
} 
header ul li:hover{
  font-weight:700;
  font-size:2.8rem;
  transform: translateX(-5px) translateY(-10px);

  transition: margin 1s, transform 0.7s;
}

.menu-mobile{
  display:none;
}
.menu-mobile button{
  background:transparent;
}

@media(max-width:635px){
  header{
    top:2rem;
    left:1rem;
  }
  header ul li{
    display:none;
  }
  .menu-mobile{
    position:fixed;
    top:2.5rem;
    right:1rem;

    display:block;

    animation: fade-in 1s;
  }
}
