body{
  background:url("/bg-img/universe-1.png");

}

h1{
  font-size: 4.8rem;
  color:white;
  font-weight:700;
}

.home-content{
  height:98vh;

  margin:auto;

  display:grid;
  justify-items: center;
  align-content: center;
  gap:2.4rem;
}

.home-content button{
  width:19.5rem;
  height:4.8rem;

  background:transparent;
  border:2px solid #FFFFFF;
  border-radius:0.5rem;

  font-weight:700;
  font-size:1.4rem;
  color:#FFFFFF;
}